@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-shadow {
    background-image: linear-gradient(0deg, #1b1c2400 80%,
            #1b1c2488 90%,
            #1b1c24d7 100%, #1b1c24),
        linear-gradient(90deg, #1b1c2400 90%,
            #1b1c2471 95%,
            #1b1c24af 100%, #00102000);
}

.text-shadow-dark{
    text-shadow: #15161C -1px -1px 10px;
}